*{
    margin: 0;
    padding: 0;
    outline: 0;

    font-family: 'Work Sans', sans-serif;
}
html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1; 
}
footer {
    margin-top: auto;
    flex-shrink: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
    
}
.school{
    display: flex;
    justify-content: center;
    align-items: center;
}
li,a{
    display: flex;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}
.icon-1{
    color: orange;
}
.icon-2{
    color: skyblue;
}
.icon-3{
    color: #05D4DF;
}
.icon-4{
    color: #5D58EF;
}
li :hover{
    color: rgb(94, 218, 94);
    
}
ul,li{
    display: flex;
   margin-left: 50px;
}
.btn{
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background-color: orange;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

/* banner style */

.banner{
    display: flex;
    margin: 30px 70px;
    justify-content: space-between;
    align-items: center;
}
.contant{
    max-width: 50%;
}
.banner-img{
    width:400px;
    height: auto;
}
.banner-text{
    font-size:56px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.text-orange{
    color: orange;
}
.text-blue{
    color: skyblue;
    font-size: 50px;
}
.banner-pera{
    font-size: 24px;
    margin-bottom: 20px;
    margin-right: 50px;
}
.banner-btn{
    background-color: black;
    color:white;
    height:50px;
    width: 190px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
main{
   margin: 0;
   padding: 0;
   height: 100vh;
   background-image: url('assets/bg.png');
   background-size: cover;
   background-repeat: no-repeat;
}
.card-h1{
    font-weight: 700;
    font-size: 46px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
   
}
.card{
    display: flex;
    margin: 70px;
    justify-content: space-between;
    gap: 25px;
    
}
.card-1{
    padding-top: 8pxpx;
    width:367px;
    height: 450px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    background: linear-gradient(135deg, #ed0565, #ff758c, #ffa5b3, #a4897a);
    text-align: center;
    border-radius: 10px;
}
.card-2{
    padding-top: 10px;
    width:367px;
    height: 440px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    background: linear-gradient(135deg, #3f077a, #3c5e9a, #767f8e, #ebe8ef);
    text-align: center;
    border-radius: 10px;
}
.card-3{
    padding-top: 10px;
    width:367px;
    height: 440px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    background: linear-gradient(135deg, #11998e, #38ef7d, #a8e063, #56ab2f);
    text-align: center;
    border-radius: 10px;
}
.card-img{
    margin-top: 50px;
    margin-bottom: 20px;
}
.card-title{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}
.card-pera{
    line-height: 1.5;
    margin-bottom: 40px;
}
.card-detail-1{
    justify-content: center;
    color: blue;
}
.card-detail-2{
    justify-content: center;
    color: #F0AA00;
}
.card-detail-3{
    justify-content: center;
    color: #8700FF;
}
.story-btn{
    text-align: center;
    padding-bottom: 60px;
}
.btn1,.btn2{
    width: 60px;
    background-color: orange;
    color: white;
    border: none;
    height: 60px;
    border-radius: 100px;
    font-size: 24px;
    
}
.stories{
    margin: 0;
    padding: 0;
    
    background: url('assets/bg.png'), linear-gradient(180deg, white,rgb(235, 202, 150));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.story-title{
    text-align: center;
    font-weight: 700;
    font-size: 46px;
    margin-bottom: 30px;
}
.all-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    margin: 70px;
}

.four-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    
}
.story-1{
      width: 500px;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
      overflow: hidden;
      height: 546px;
      text-align: center;
      font-size: 15px;
      font-weight: 700;
}
.story-2,.story-3, .story-4, .story-5{
      width: 290px;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
      overflow: hidden;
      height: 270px;
      text-align: center;
      font-size: 15px;
      font-weight: 700;
}
.story-btn-1, .story-btn-2, .story-btn-3,.story-btn-4, .story-btn-5 {
    background-color: #95B226;
    color: white;
    height: 38px;
    width: 174px;
    border: none;
    border-radius: 50px;
    margin-left: 20px;
    transform: translatey(-40%);
    
}
.story-btn-1{
    background-color: #3CD8E8;
}
.story-btn-3{
    background-color: #5D58F0;
}
.story-1-title{
    font-weight: 700;
    font-size: 24px;
    margin-left: 25px;
    text-align: left;
}
.story-1-pera{
    margin-top: 30px;
    text-align: left;
    margin-left: 25px;
}
.view{
    text-align: center;
}
.view-btn{
    width: 197px;
    height: 50px;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
